@using Phork.Blazor
@using SandboxWindowsDesktopApp.ViewModels

@inherits ReactiveComponentBase
@inject MainWindowViewModel ViewModel
@inject FormWindowViewModel AnotherViewModel

<div class="home-container">
	<CommandButton Command="@ViewModel.OpenWindowA" Text="Open blazor window" />
	<CommandButton Command="@ViewModel.OpenWindowB" Text="Open xaml window" />
</div>
