html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button {
    margin: 2px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.custom-button {
    border: 1px solid orangered;
    border-radius: 5px;
}

.custom-button:hover {
    border: 1px solid lightgreen;
}
